body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.logo {
  height: 100%;
  width: 100%;
}

.logocontainer {
  height: 60px;
  width: 120px;
}

.midcontainer {
  padding: 0px 200px 0px 200px;
}

.header {
  background-color: rgb(252, 249, 249);
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
}

.headercontainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.midcontainer ul {
  display: flex;
  list-style: none;
  font-size: 18px;
  z-index: 1;
}

.midcontainer .menu > li {
  font-size: 18px;
}
.midcontainer ul li {
  padding: 15px;
  cursor: pointer;
}

.menu li {
  position: relative;
}

.submenu ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  cursor: pointer;
}

.lastcontainer {
  display: flex;
}

.searchinput {
  background-image: url("./Images/searchicon.png");
  background-size: 18px 18px;
  background-position: right 10px center;
  padding: 2px 30px 0px 10px;
  border-radius: 8px;
  padding: 10px 27px 10px 14px;
  background-repeat: no-repeat;
  border: 1px solid #7b7a7a;
}

.midcontainer .menu .submenu {
  display: none;
  background-color: rgb(240, 241, 241);
  width: 180px;
  position: absolute;
  font-family: Georgia, "Times New Roman", Times, serif;
  border-radius: 12px;
  padding-top: 20px;
  z-index: 1;
}

.midcontainer .menu > li > .submenu {
  top: 38px;
  left: 10px;
}
.midcontainer .menu > li > .submenu .submenu {
  left: 180px;
  top: -15px;
}

.submenu .submenu li {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-image: url("./Images/list.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: left 10px center;
}

.midcontainer .menu li:hover > .submenu {
  display: block;
}

.lielement {
  margin-bottom: 20px;
  border-bottom: 1px solid #ccc;
  padding-right: 10px;
  /* z-index: 1; */
}

.heroimagecontainer img {
  min-width: -webkit-fill-available;
  height: 100%;
}
.heroimagecontainer {
  height: 605px;
  position: relative;
}

.heropagetext {
  z-index: 1;
  position: absolute;
  top: 200px;
  left: 60px;
}

.herotext1 {
  font-size: 48px;
  margin-bottom: 10px;
  font-weight: 700;
}

.herotext2 {
  font-size: 20px;
  margin-bottom: 20px;
  font-weight: 400;
  color: black;
}

.heropagetext button {
  padding: 15px 60px 15px 60px;
  background-color: black;
  color: aliceblue;
  border-radius: 36px;
  font-size: 16px;
}

.cardsectiontitle {
  margin-top: 20px;
}

.cardtitle1 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.subherocontainer {
  position: absolute;
  left: 43%;
  top: 10%;
  display: flex;
}

.herosec2 {
  padding-top: 100px;
}

.herosec3 {
  margin-left: 50px;
  padding-top: 20px;
}

.heroimg {
  z-index: 1;
  border-radius: 32px;
}

.heroimagecont1 {
  height: 400px;
  width: 300px;

  z-index: 1;
}

.heroimagecont2 {
  height: 280px;
  width: 300px;

  z-index: 1;
  margin-bottom: 25px;
}

.imagestyle {
  width: 100%;
  height: 100%;
  border-radius: 32px;
}

.heroimagecont3 {
  height: 280px;
  width: 300px;

  z-index: 1;
}

.cardtitle2 {
  display: flex;
  align-items: center;
}

.cardtitle2place {
  padding-left: 7px;
  font-size: 16px;
  font-weight: 500;
  word-spacing: 40px;
}

.cardtitle2 img {
  height: 20px;
  width: 20px;
}

.cardtitle2 button {
  padding: 12px 32px 12px 32px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 36px;
  font-size: 14px;
}

.explorebutton {
  margin-left: 45px;
}

.cardplace {
  margin-top: 30px;
  display: flex;
}

.cardplacetext {
  margin-top: 15px;
  display: flex;
  justify-content: space-around;
}

.cardtext {
  font-size: 18px;
  font-weight: 500;
}

.card {
  height: 440px;
  width: 330px;
  border-radius: 32px;
  margin-right: 15px;
}

.storesection {
  margin-top: 70px;
}

.storesectiontitle {
  margin: 50px 0px 35px 0px;
  display: flex;
  justify-content: space-between;
  padding-right: 25px;
}

.storesectiontitle button {
  padding: 12px 32px 12px 32px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 36px;
  font-size: 14px;
}
.storetitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.mainbody {
  padding: 60px;
}

.substore {
  display: grid;
  grid-template-columns: 47% 53%;
}

.store1img {
  height: 400px;
  width: 620px;
  border-radius: 32px;
}

.store1text2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 8px;
}

.store1text1 {
  color: rgb(113, 113, 113);
  font-size: 20px;

  margin: 15px 0px 15px 0px;
}

.substore2 {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.storeimg {
  border-radius: 32px;
  height: 192px;
  width: 230px;
}

.substore2cont1 {
  display: flex;
}

.substore2img1text {
  display: flex;
  align-items: center;
  margin-left: 30px;
  font-size: 18px;
  font-weight: 550;
}

.trekkersection {
  margin-top: 70px;
}

.trekkertitle {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 8px;
}

.trekkercontain {
  margin-top: 50px;
  display: grid;
  grid-template-columns: 40% 60%;
}
.trekkercontain1 {
  padding-left: 40px;
}
.trekkercontain1name {
  display: flex;
  align-items: center;
}

.trekkername {
  font-size: 18px;
  font-weight: 700;
  margin-left: 20px;
}

.trekkercontain2 {
  display: grid;
  grid-template-columns: 45% 55%;
}

.trekkernameimg img {
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.trekkersubname {
  display: flex;
  align-items: center;
}

.trekkercontentitle {
  margin-top: 30px;
  font-size: 18px;
  font-weight: 700;
}

.trekkercontentdetail {
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}

.trekkercontain2img {
  height: 400px;
  width: 350px;
}

.trekkercontain2video {
  height: 250px;
  width: 350px;
}

.trekkercontain2text {
  display: flex;
  padding-left: 43px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 600;
}

.trekkercontain2 button {
  margin-top: 40px;
  margin-left: 50px;
  padding: 12px 90px 12px 90px;
  background-color: white;
  border: 1px solid black;
  color: black;
  border-radius: 36px;
  font-size: 14px;
}

.travelsection {
  margin-top: 50px;
  background-color: rgb(147, 148, 150);
  margin-bottom: 50px;
  padding-bottom: 120px;
}

.traveltitlecontain {
  padding-top: 120px;
}

.traveltitle {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 52px;
  font-weight: 600;
}

.subscribesection {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.subscribesection input[type="text"] {
  padding: 15px 300px 15px 30px;
  border-radius: 32px;
  border: 1px solid #ccc;
}

.subscribesection button {
  padding: 15px 30px 15px 30px;
  border-radius: 32px;
  font-size: 18px;
  margin-left: 10px;
  background-color: rgb(228, 34, 9);
  color: white;
  border: 1px solid rgb(228, 34, 9);
}

.readpolicyline {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  color: white;
}

.footer {
  display: grid;
  grid-template-columns: 20% 20% 20% 20% 20%;
  padding-bottom: 50px;
}

.footer ul li {
  list-style: none;
  padding: 7px;
}

.lastfooter {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50px;
  background-color: black;
}

.reserved {
  color: white;
}

.logofooter {
  height: 50px;
  width: 50px;
}

.sociallogo svg {
  height: 30px;
  width: 30px;
}

.footersec1 {
  padding-top: 30px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 13px;
}
